__pycache__/
*.pyc
.env
venv/
.env.*
.DS_Store
*.db
*.sqlite3
*.log
try.ipynb
fly.toml
fly-reverse-proxy/fly.toml
fly-reverse-proxy/nginx.conf
fly-reverse-proxy/Dockerfile
fly-reverse-proxy/app.py
fly-reverse-proxy/requirements.txt
